
.contenedor-experiencia p{
    font-size: 18px;
    color: whitesmoke;
    
}
.contenedor-experiencia span{
    opacity: 0.8;
    color: whitesmoke;
}

.contenedor-experiencia span:hover{
    opacity: 1;
}


@media (max-width: 820px) {

    .contenedor-experiencia{
        width: 90%;
        margin: auto;
        padding: 20px;
    }

}
